@import 'fonts.scss'; //Шрифты
@import 'nullstyle.scss'; // Нормализация

$orangeColor1:#FF9900;
$orangeColor2:#FFB84D;
$orangeColor3:#E1670E;

$grayColor1:#FFFFFF;
$grayColor2:#CACACA;
$grayColor3:rgba(0, 0, 0, 0.5);
$grayColor4:#666666;
$grayColor5:#414141; 
$grayColor6:#000000;

body {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
}
.container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 75px;
    padding-right: 75px;
}
.btn {
    padding: 20px 38px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: #FFFFFF;
    border-radius: 16px;
}
.btn:hover{
    background: $orangeColor2
}
.btn:focus {
    background: $orangeColor2
}
.btn:active {
    background: $orangeColor3
}
.heading {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: #000000;
}
.small-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
}

.header {
    margin-bottom: 50px;

    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    &__left-part {
        flex: 1 1 44%;
    }
    &__icon-burger{
        display: none;
    }
    &__icon-burger:hover{
        cursor: pointer;
    }
    &__icon-burger:focus{
        padding: 1px;
        border: 2px solid $orangeColor1;
    }
    &__icon-burger:active {
        border: none;
        fill: $orangeColor3
    }
    &__logo {
        margin: 14px 0;
        transform: translateX(-1px);
    }
    &__center-part {
        flex: 1 1 40%;
        min-width: 500px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__items {
    }
    &__link {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

        color: #000000;     
    }
    &__link:hover {
    border-bottom: 2px solid $orangeColor1;
    }
    &__link:focus {
        padding: 0 2px;
        border: 2px solid $orangeColor1;
    }
    &__link:active {
        color: $orangeColor3;
        border: 0;
        border-bottom: 2px solid $orangeColor3;
    }
    &__right-part {
        flex: 1 1 16%;
    }
    &__icon-search {
        fill:none;
        stroke: $grayColor6;
        stroke-width: 2; 

        float: right;
    }
    &__icon-search:hover {
        cursor: pointer;
        stroke: $orangeColor1;

    }
    &__icon-search:focus{
        outline: 2px solid $orangeColor1;;

    }
    &__icon-search:active{
        outline:none;
        stroke: $orangeColor1;
    }
}
.section-hero {
    margin-bottom: 50px;

    &__container {
    }
    &__body {
        min-height: 620px;
        padding: 101px 20px 28px 80px;

        background: url(/img/hero-slider1.jpg) no-repeat center center;
        background-size: cover;
        border-radius: 32px;
    }
    &__heading {
        max-width: 837px;
        
        font-weight: 800;
        font-size: 70px;
        line-height: 85px;
        letter-spacing: 0.05px;

        color: #FFFFFF;
    }
    &__description {
        max-width: 790px;
        padding: 23px 0 90px;

        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.25px;

        color: #FFFFFF;
    }
    &__btn {
        padding: 25px 39px 24px 40px;
        font-weight: 600;
        font-size: 23px;
        line-height: 29px;
    
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        background: $orangeColor1;
    }
    &__nav {
        display: flex;
        justify-content: center;
        padding-top: 55px;
    }
    &__swicth {
        margin-right: 20px;
        transform: translateX(-20px);

        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);
        &_active {
            background: #FFFFFF;
        }
    }
}
.section-about {
    margin-bottom: 100px;
    &__container {
        
    }
    &__top {
        padding-top: 1px;
        padding-bottom: 49px;
    }
    &__heading {
        padding-bottom: 22px;
    }
    &__text {
        max-width: 1235px;

        &_additional {
            padding-top: 9px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        //flex-wrap: wrap;
    }
    &__left {
        position: relative;
        width: 100%;
        max-width: 868px;
        min-height: 622px;
        margin-right: 32px;

        background: url(/img/about-background.jpg) no-repeat center center;
        background-size: cover;
        border-radius: 32px;
    }
    &__inside-part {
        position: absolute;
        bottom: 1px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 49%;
        padding: 52px 50px 28px 50px;
        flex-wrap: wrap;

        background: rgba(0, 0, 0, 0.5);
        border-radius: 32px;
    }
    &__description {
        padding-bottom: 20px;
        max-width: 454px;

        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.12px;

        color: #FFFFFF;
        &_mobile{
            display: none;
        }
    }
    &__btn {
        margin-bottom: 22px;
        padding: 18px 36px 16px 35px;
        
        font-weight: 600;
        border: 3px solid #FF9900;
        background: transparent;
        &_mobile{
            display: none;
        }
    }
    &__btn:hover {
        cursor: pointer;
        background-color: $orangeColor1;
    }
    &__btn:focus {
        background-color: $orangeColor1;
    }
    &__btn:active{
        border: 3px solid $orangeColor3;
        background-color: $orangeColor3;
    }
    &__mobile-block{
        display: none;
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 870px;
        width: 100%;
    }
    &__block {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        //padding: 20px 50px 20px 11px;
        padding: 20px 76px 20px 18px;
        min-height: 295px;

        border: 1px solid #CACACA;
        border-radius: 32px;
    }
    &__block:first-child {
        margin-bottom: 30px;
    }
    &__img {
        max-width: 190px;
        flex: 1 1 28%;
    }
    &__info {
        flex: 3 1 72%;
        max-width: 452px;
        width: 100%;
        margin-left: 10px;
    }
    &__small-heading {
    }
}
.section-working {
    margin-bottom: 110px;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__top{
    }
    &__heading {
    }
    &__list {
        display: flex;
        //max-width: 32.7%;
        max-width: 587px;
        padding: 50px 0 46px 0px;
    }
    &__item {
        flex: 0 0 23%;
    }
    &__link {
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        &_active {
            color: $orangeColor3;
        }
    }
    &__link:hover{
        color: $orangeColor1;
    }
    &__link:focus{
        padding: 2px;
        border: 2px solid $orangeColor1;
    }
    &__link:active{
        border:none;
        color: $orangeColor3;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;

    }
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 49%;
        max-width: 758px;
        //max-width: 758px;
        //min-height: 460px;
    }
    &__small-heading {
    line-height: 32px;
    }
    &__text {
        padding: 8px 0 18px;
        max-width: 758px;
    }
    &__control-buttons {
    }
    &__btn {
        margin-right: 30px;
        background: #FF9900;
        transform: translateY(-1px);
        &_additional{
            font-weight: 500;
            font-size: 16px;
            padding: 20px 38px 18px 36px;

            border: 1px solid $grayColor6;
            color: $grayColor6;
            background: transparent;
        }
        &_additional:hover {
            background-color: $grayColor4;
            border: 1px solid $grayColor4;
            color: $grayColor1;
        }
        &_additional:focus {
            background-color: $grayColor4;
            border: 1px solid $grayColor4;
            color: $grayColor1;
        }
        &_additional:active {
            background-color: $grayColor6;
            border: 1px solid $grayColor6;
            color: $grayColor1;
        }
    }
    &__right {
        //align-self: self-end;
        flex: 0 1 50%;
        max-width: 870px;
        width: 100%;
        margin-top: 8px;

        background: url('../../img/working-step1.jpg') no-repeat center center;
        background-size: cover;
        border-radius: 32px;
    }

}
.section-faq {
    br {
        display: none;
    }
    margin-bottom: 100px;
    &__container {
    }
    &__heading {
        padding-bottom: 32px;
    }
    &__issues { 
    }
    &__topic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 111px;

        border-top: 1px solid #CACACA;
        border-bottom: 1px solid #CACACA;
    }
    &__small-heading {
        flex: 0 0 90%;
        line-height: 32px;
    }
    &__expand {
        flex: 0 0 3%;
        min-width: 50px;
    }
}
.footer {
    background: #000000;

    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        
    }
    &__left {
        //margin-right: 15px;
        flex: 0 1 32%;
        // padding-right: 350px;
    }
    &__logo {
        padding: 0 0 20px;
    }
    &__list {
        padding-bottom: 90px;
    }
    &__items {
    }
    &__link{
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;

        color: #CACACA;
    }
    &__link:hover {
        color: $orangeColor1;
    }
    &__link:focus {
        padding: 2px;
        border: 1px solid $orangeColor1;
    }
    &__link:active {
        border:none;
        color: $orangeColor3;
    }
    &__social {
        max-width: 252px;

        fill: $grayColor4
    }
    &__soc-log {
        margin-right: 21px;
    }
    &__soc-log:hover{
        fill: $orangeColor1;
    }
    &__soc-log:focus{
        outline: 1px solid $orangeColor1;
    }
    &__soc-log:active{
        outline:none;
        fill: $orangeColor3;
    }

    &__center {
        flex: 0 1 42%;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        //align-items: center;
        //margin-left: 26px;
    }
    &__header {
        padding: 0 0 25px 0;
        color: #CACACA;
    }
    &__form {
        margin-right: 15px;
        max-width: 570px;
        min-width: 400px;
    }
    &__input {
        margin-bottom: 25px;
        text-indent: 10px;

        display: block;
        width: 100%;
        height: 60px;

        background:$grayColor5;
        border-radius: 16px;
        &_big {
            margin-bottom: 32px;
            height: 150px;
        }
        &_big:placeholder-shown {
            padding-top: 20px;
        }
    }
    &__input:hover{
        background: $grayColor4;
    }
    &__input:focus{
        background: $grayColor4;
    }
    &__input:active{
        background: $grayColor4;
        color: $grayColor1;
    }
    &__input::placeholder {
        padding-left: 14px;
        font-size: 16px;
    }
    &__btn {
        display: block;
        margin-left: auto; 
        margin-right: auto;
        padding: 20px 52px 18px;
        background: #FF9900;
    }
    &__right {
        flex: 0 1 22%;
        align-self: center;
        justify-self: end;
    }
    &__text {
        float: right;
        max-width: 363px;
        font-size: 16px;
        line-height: 32px;
        color: #CACACA;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .header{
        &__left-part{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__icon-burger{
        display: block;
        fill:$grayColor6;
        }
        &__logo {
            max-width: 150px;
            margin-top: 26px;
        }
        &__center-part {
        display: none;
        }
    }
    .section-hero {
        &__body {
            min-height: 668px;
            height: 100%;
            padding: 160px 77px 28px;
            //width: 100%;
            //min-width: 924px;
            background: url(/img/media-1024/hero-slider1.jpg) no-repeat center center;
            background-size: cover;
        }
        &__heading {
        font-size: 60px;
        font-weight: 700;
        line-height: 73px;
        letter-spacing: 0.4px;
        }
        &__description {
            max-width: 660px;
            padding: 16px 0 60px;
            font-size: 20px;
            line-height: 24px;
        }
        &__nav {
            padding-top: 115px;
        }
        &__swicth {
            transform: translateX(10px);
        }
    }
    .section-about {
        &__text {
            padding-right: 10px;
            //max-width: 924px;
        }    
        &__bottom {
            flex-direction: column;
            
            //justify-content: space-between;
            //flex-wrap: wrap;
        }
        &__left {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 32px;
        }
        &__inside-part {
            padding: 40px 50px 28px 50px;
        }
        &__right {
            max-width: 100%;
            margin-right: 0;
        }
    }
    .section-working {
        &__list {
            max-width: 65%;
        }
        &__text{
            padding-bottom: 20;
        }
        &__btn {
            margin-top: 25px;
        }
        &__right {
            max-width: 437px;
            background: url('../../img/media-1024/working-step1.jpg') no-repeat center center;
            background-size: cover;
        }

    }
    .section-faq  {
        margin-bottom: 80px;
        &__small-heading {
            max-width: 756px;
            font-size: 20px;
        }
        &__expand {
            flex: 0 0 5%;
        }
    }
    .footer {
        &__left {
            flex: 0 1 40%;
            margin-right: 10px;
        }
        &__center {
            flex: 0 1 60%;
        }
        &__right {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .section-hero {
        margin-bottom: 35px;
        &__body {
            //min-height: 668px;
            //height: 100%;
            padding: 160px 40px 16px;
            //width: 100%;
            //min-width: 924px;
            background: url(/img/media-768/hero-slider1.jpg) no-repeat center center;
            background-size: cover;
        }
        &__heading {
        font-size: 50px;
        //font-weight: 800;
        line-height: 61px;
        //letter-spacing: 0.4px;
        }
        &__description {
            max-width: 590px;
            //padding: 16px 0 60px;
            font-size: 18px;
            line-height: 22px;
        }
        &__nav {
            //padding-top: 115px;
        }
        &__swicth {
            //transform: translateX(10px);
        }
    }
    .section-about {
        margin-bottom: 80px;
        &__inside-part {
            padding: 34px 40px;
        }
        &__description {
            padding-bottom: 0;
            max-width: 366px;
        }
        &__block {
            //flex-wrap: nowrap;
            padding: 35px 46px 35px 40px;
            min-height: 295px;
        }
        &__img {
            max-width: 114px;
        }
        &__info {
            flex: 3 1 72%;
            max-width: 452px;
            margin-left: 16px;
        }
        &__text_additional{
            padding-top: 8px;
        }
    }
    .section-working {
        margin-bottom: 49px;
        br {
            display: none;
        }
        &__list {
            max-width: 100%;
            justify-content: space-between;
        }
        &__text{
            padding-bottom: 20;
        }
        &__btn {
            margin-top: 25px;
        }
        &__bottom {
            //display: flex;
            //justify-content: space-between;
            flex-direction: column-reverse;
        }    
        &__right {
            margin-top: 0;
            margin-bottom: 38px;
            min-height: 284px;
            max-width: 668px;
            background: url('../../img/media-768/working-step1.jpg') no-repeat center center;
            background-size: cover;
        }
        &__item {
            flex: 0 0 10%;
        }
    }
    .footer {
        &__container{
            flex-direction: column-reverse;
        }
        &__list {
            display: none;
        }
        &__form {
            min-width: 0;
        }
        &__bottom {
            margin-bottom: 50px;
        }
    }
}
@media (max-width: 320px) {
    .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 14px;
    }
    .heading {
        font-size: 24px;
        line-height: 29px;
    }
    .text {
        font-size: 14px;
        line-height: 28px;
    }
    .header {
        margin-bottom: 30px;
        &__logo {
            margin: 23px 0;
            max-width: 110px;
            max-height: 35px;
        }
        &__right-part {
            flex: 0 1 30%;
        }

    }
    .section-hero {
        margin-bottom: 60px;
        &__body {
            max-height: 308px;
            min-height: 100%;

            padding: 60px 21px 15px 22px;
            display: flex;
            flex-direction: column;
            align-items: center;

            background: url('/img/media-320/hero-slider1.jpg') no-repeat center center;
            background-size: cover;
        }
        &__heading {
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
        &__description {
            padding: 8px 0 32px;
            max-width: 247px;

            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
        }
        &__btn {
            padding: 13px 28px;

            font-size: 12px;
            line-height: 15px;

            border-radius: 8px;
        }
        &__nav {
            padding-top: 34px;
        }
        &__swicth{
            max-width: 10px;
            max-height: 10px;
        }
    }
    .section-about {
        margin-bottom: 61px;
        br {
            display: none;
        }
        &__top {
            padding: 0 0 14px;
        }
        &__heading{
            padding-bottom: 20px;
        }
        &__text {
            padding-right: 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 28px;

        }
        &__left {
            margin-bottom: 8px;
            min-height: 200px;

            border-radius: 16px;
        }
        &__inside-part {
            display: none;
        }
        &__mobile-block{
            display: block;
        }
        &__description {
            margin-bottom: 12px;

            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            color: #000000;
        }
        &__btn {
            padding: 12px 44px;

            font-size: 12px;
            line-height: 15px;

            color: $orangeColor1;
            border-radius: 8px;
        }
        &__right {
            padding: 0;
        }
        &__block {
            margin: 0;
            padding: 0;
            justify-content: flex-start;
            align-items: flex-start;
            border: none;
        }
        &__img {
            max-width: 80px;
            margin-right: 20px;
        }
        &__info {
            margin: 0;
        }
        &__small-heading {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;

        }
    }
    .section-working {
        &__list {
            padding: 20px 0 16px;
        }
        &__item {
            flex: 0 1 15%;
        }
        &__link {
            font-size: 14px;
            line-height: 17px;
        }
        &__right {
            //margin-top: 0;
            margin-bottom: 16px;
            min-height: 160px;
            //max-width: 668px;
            background: url('../../img/media-320/working-step1.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 16px;
        }
        &__small-heading {
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
        }
        &__text{
            padding: 8px 0 25px;
        }
        &__control-buttons{
            justify-content: space-between;
        }
        &__btn {
            margin: 0;
            padding: 12px 44px;

            font-size: 12px;
            line-height: 15px;
            border-radius: 8px;
            &_additional {
                padding: 12px 32px;

            }
        }
    }
    .section-faq {
        margin-bottom: 60px;
        br {
            display: block;
        }
        &__heading {
            padding-bottom: 16px;
        }
        &__small-heading {
            flex: 0 0 85%;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
        }
        &__expand {
            flex: 0 0 15%;
            width: 30px;
            height: 30px;
        }
    }
    .footer {
        &__container {
            margin-top: 33px;
        }
        &__center {
            padding-bottom: 16px;
            border-bottom: 1px solid $grayColor5;
        }
        &__input {
            min-width: 290px;
        }
        &__btn {
            padding: 12px 28px;
            border-radius: 8px;
        }
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            //justify-content: center;
        }
        &__logo {
            padding: 16px 0;
            width: 131px;
        }
        &__soc-log {
            margin-right: 16px;
            width: 40px;
        }
    }
}

//Проверить пиксель перфект для большого разрешения и 3ех брейкпойнтов
//Сделать правным переход между 320 и 760. Сверстать точку на 576px - это как раз между ними 