@import 'fonts.scss'; //Шрифты
@import 'nullstyle.scss'; // Нормализация

$orangeColor1:#FF9900;
$orangeColor2:#FFB84D;
$orangeColor3:#E1670E;

$grayColor1:#FFFFFF;
$grayColor2:#CACACA;
$grayColor3:rgba(0, 0, 0, 0.5);
$grayColor4:#666666;
$grayColor5:#414141; 
$grayColor6:#000000;

body {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
}
.container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 75px;
    padding-right: 75px;
}
.btn {
    padding: 20px 38px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: #FFFFFF;
    border-radius: 16px;
    &:hover{
        background: $orangeColor2
    }
    &:focus {
        background: $orangeColor2
    }
    &:active {
        background: $orangeColor3
    }
}
.heading {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: #000000;
}
.small-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
}

.header {
    margin-bottom: 50px;

    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    &__left-part {
        flex: 1 1 44%;
    }
    &__icon-burger{
        display: none;
        &:hover{
            cursor: pointer;
        }
        &:focus{
            padding: 1px;
            border: 2px solid $orangeColor1;
        }
        &:active {
            border: none;
            fill: $orangeColor3
        }
    }
    &__logo {
        margin: 14px 0;
        transform: translateX(-1px);
    }
    &__center-part {
        flex: 1 1 40%;
        min-width: 500px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__items {
    }
    &__link {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

        color: #000000;
        &:hover {
            border-bottom: 2px solid $orangeColor1;
        }
        &:focus {
            padding: 0 2px;
            border: 2px solid $orangeColor1;
        }
        &:active {
            color: $orangeColor3;
            border: 0;
            border-bottom: 2px solid $orangeColor3;
        }     
    }
    &__right-part {
        flex: 1 1 16%;
    }
    &__icon-search {
        fill:none;
        stroke: $grayColor6;
        stroke-width: 2; 

        float: right;
        &:hover {
            cursor: pointer;
            stroke: $orangeColor1;
        }
        &:focus{
            outline: 2px solid $orangeColor1;;
        }
        &:active{
            outline:none;
            stroke: $orangeColor1;
        }
    }
}
.section-hero {
    margin-bottom: 50px;
    &__container {
    }
    &__body {
        min-height: 620px;
        padding: 101px 20px 28px 80px;

        background: url(/img/hero-slider1.jpg) no-repeat center center;
        background-size: cover;
        border-radius: 32px;
    }
    &__heading {
        max-width: 837px;
        
        font-weight: 800;
        font-size: 70px;
        line-height: 85px;
        letter-spacing: 0.05px;

        color: #FFFFFF;
    }
    &__description {
        max-width: 790px;
        padding: 23px 0 90px;

        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.25px;

        color: #FFFFFF;
    }
    &__btn {
        padding: 25px 39px 24px 40px;
        font-weight: 600;
        font-size: 23px;
        line-height: 29px;
    
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        background: $orangeColor1;
    }
    &__nav {
        display: flex;
        justify-content: center;
        padding-top: 55px;
    }
    &__swicth {
        margin-right: 20px;
        transform: translateX(-20px);

        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);
        &_active {
            background: #FFFFFF;
        }
    }
}
.section-about {
    margin-bottom: 100px;
    &__container { 
    }
    &__top {
        padding-top: 1px;
        padding-bottom: 49px;
    }
    &__heading {
        padding-bottom: 22px;
    }
    &__text {
        max-width: 1235px;
        &_desktop {
            display: block;
        }
        &_mobile {
            display: none;
        }
        &_additional {
            padding-top: 9px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        position: relative;
        width: 100%;
        max-width: 868px;
        min-height: 622px;
        margin-right: 32px;

        background: url(/img/about-background.jpg) no-repeat center center;
        background-size: cover;
        border-radius: 32px;
        transform: translateY(-2px);
    }
    &__inside-part {
        position: absolute;
        bottom: 1px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 49%;
        padding: 52px 50px 28px 50px;
        flex-wrap: wrap;

        background: rgba(0, 0, 0, 0.5);
        border-radius: 32px;
    }
    &__description {
        padding-bottom: 20px;
        max-width: 454px;

        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.12px;

        color: #FFFFFF;
        &_mobile{
            display: none;
        }
    }
    &__btn {
        margin-bottom: 22px;
        padding: 18px 36px 16px 35px;
        
        font-weight: 600;
        border: 3px solid #FF9900;
        background: transparent;
        &_mobile{
            display: none;
        }
        &:hover {
            cursor: pointer;
            background-color: $orangeColor1;
        }
        &:focus {
            background-color: $orangeColor1;
        }
        &:active{
            border: 3px solid $orangeColor3;
            background-color: $orangeColor3;
        }
    }
    &__mobile-block{
        display: none;
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 870px;
        width: 100%;
    }
    &__block {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 76px 20px 18px;
        min-height: 295px;

        border: 1px solid #CACACA;
        border-radius: 32px;
    }
    &__block:first-child {
        margin-bottom: 30px;
    }
    &__img {
        max-width: 190px;
        flex: 1 1 28%;
    }
    &__info {
        flex: 3 1 72%;
        max-width: 452px;
        width: 100%;
        margin-left: 10px;
    }
    &__small-heading {
    }
}
.section-working {
    margin-bottom: 110px;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__top{
    }
    &__heading {
    }
    &__list {
        display: flex;
        max-width: 587px;
        padding: 50px 0 46px 0px;
    }
    &__item {
        flex: 0 0 23%;
    }
    &__link {
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        &_active {
            color: $orangeColor3;
        }
        &:hover{
            color: $orangeColor1;
        }
        &:focus{
            padding: 2px;
            border: 2px solid $orangeColor1;
        }
        &:active{
            border:none;
            color: $orangeColor3;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 49%;
        max-width: 758px;
    }
    &__small-heading {
        line-height: 32px;
    }
    &__text {
        padding: 8px 0 18px;
        max-width: 758px;
        &_desktop{
            display: block;
        }
        &_mobile {
            display: none;
        }
    }
    &__control-buttons {
    }
    &__btn {
        margin-right: 30px;
        background: #FF9900;
        transform: translateY(-3px);
        &_additional{
            font-weight: 500;
            font-size: 16px;
            padding: 20px 38px 18px 36px;

            border: 1px solid $grayColor6;
            color: $grayColor6;
            background: transparent;     
            &:hover {
                background-color: $grayColor4;
                border: 1px solid $grayColor4;
                color: $grayColor1;
            }
            &:focus {
                background-color: $grayColor4;
                border: 1px solid $grayColor4;
                color: $grayColor1;
            }
            &:active {
                background-color: $grayColor6;
                border: 1px solid $grayColor6;
                color: $grayColor1;
            }
        }
    }
    &__right {
        flex: 0 1 50%;
        max-width: 870px;
        width: 100%;
        margin-top: 8px;

        background: url('../../img/working-step1.jpg') no-repeat center center;
        background-size: cover;
        border-radius: 32px;
        transform: translateY(-3px);
    }
}
.section-faq {
    margin-bottom: 98px;
    br {
        display: none;
    }
    &__container {
    }
    &__heading {
        padding-bottom: 32px;
    }
    &__issues { 
    }
    &__topic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 111px;

        border-top: 1px solid #CACACA;
        border-bottom: 1px solid #CACACA;
    }
    &__small-heading {
        flex: 0 0 90%;
        line-height: 32px;
    }
    &__expand {
        flex: 0 0 3%;
        min-width: 50px;
    }
}
.footer {
    background: #000000;
    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        
    }
    &__left {
        flex: 0 1 32%;
    }
    &__logo {
        padding: 0 0 20px;
    }
    &__list {
        padding-bottom: 90px;
    }
    &__items {
    }
    &__link{
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;

        color: #CACACA;
        &:hover {
            color: $orangeColor1;
        }
        &:focus {
            padding: 2px;
            border: 1px solid $orangeColor1;
        }
        &:active {
            border:none;
            color: $orangeColor3;
        }
    }
    &__social {
        max-width: 252px;

        fill: $grayColor4
    }
    &__soc-log {
        margin-right: 21px;
        &:hover{
            fill: $orangeColor1;
        }
        &:focus{
            outline: 1px solid $orangeColor1;
        }
        &:active{
            outline:none;
            fill: $orangeColor3;
        }
    }
    &__center {
        transform: translateX(10px);
        margin-right: 20px;
        flex: 0 1 42%;
        display: flex;
        flex-direction: column;
    }
    &__header {
        padding: 0 0 25px 0;
        color: #CACACA;
    }
    &__form {
        margin-right: 15px;
        max-width: 570px;
        min-width: 400px;
    }
    &__input {
        margin-bottom: 25px;
        text-indent: 10px;

        display: block;
        width: 100%;
        height: 60px;

        background:$grayColor5;
        border-radius: 16px;
        &_big {
            margin-bottom: 32px;
            height: 150px;
        }
        &_big:placeholder-shown {
            padding-top: 20px;
        }
        &:hover{
            background: $grayColor4;
        }
        &:focus{
            background: $grayColor4;
        }
        &:active{
            background: $grayColor4;
            color: $grayColor1;
        }
        &::placeholder {
            padding-left: 14px;
            font-size: 16px;
        }
    }
    &__btn {
        display: block;
        margin-left: auto; 
        margin-right: auto;
        padding: 20px 52px 18px;
        background: #FF9900;
    }
    &__right {
        flex: 0 1 22%;
        align-self: center;
        justify-self: end;
    }
    &__text {
        float: right;
        max-width: 363px;
        font-size: 16px;
        line-height: 32px;
        color: #CACACA;
    }
}

@media (max-width: 1024px) {  
    .container {
        max-width: 1024px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .header{
        margin-bottom: 40px;
        &__left-part{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1 1 33%;
        }
        &__icon-burger{
            display: block;
            fill:$grayColor6;
        }
        &__logo {
            margin: 26px 0;
            max-width: 150px;
            margin-top: 26px;
        }
        &__center-part {
            display: none;
        }
    }
    .section-hero {
        margin-bottom: 34px;
        &__body {
            min-height: 668px;
            height: 100%;
            padding: 160px 77px 28px;

            background: url(/img/media-1024/hero-slider1.jpg) no-repeat center center;
            background-size: cover;
        }
        &__heading {
        font-size: 60px;
        font-weight: 700;
        line-height: 73px;
        letter-spacing: 0.4px;
        }
        &__description {
            max-width: 660px;
            padding: 16px 0 60px;
            font-size: 20px;
            line-height: 24px;
        }
        &__nav {
            padding-top: 115px;
        }
        &__swicth {
            transform: translateX(10px);
        }
    }
    .section-about {
        margin-bottom: 82px;
        &__text {
            padding-right: 10px;
        }
        &__top {
            padding-bottom: 58px;
        }    
        &__inside-part {
            padding-top: 52px !important;
        }
        &__bottom {
            flex-direction: column;
        }
        &__left {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 32px;
            min-height: 640px;
            transform: translateY(1px);
        }
        &__inside-part {
            padding: 40px 50px 28px 50px;
        }
        &__right {
            max-width: 100%;
            margin-right: 0;
        }
        &__block {
            justify-content: center;
        }
        &__img {
            margin-left: -16px;
            margin-right: 50px;
            flex: 1 1 30%;
        }
        &__info {
            flex: 1 0 70%;
            transform: translateX(0);
            margin-left: 0;
        }
    }
    .section-working {
        margin-bottom: 80px;
        &__list {
            padding-bottom: 52px;
            max-width: 65%;
        }
        &__item {
            transform: translateX(-6px);
            &_first {
                transform: translateX(2px);
            }
        }
        &__text{
            padding-bottom: 20;
        }
        &__btn {
            margin-top: 6px;
        }
        &__right {
            max-width: 437px;
            background: url('../../img/media-1024/working-step1.jpg') no-repeat center center;
            background-size: cover;
        }
    }
    .section-faq  {
        margin-bottom: 80px;
        &__topic {
            padding: 29px 0;
        }
        &__small-heading {
            max-width: 756px;
            font-size: 20px;
        }
        &__expand {
            flex: 0 0 5%;
        }
    }
    .footer {
        &__left {
            flex: 0 1 40%;
            margin-right: 10px;
        }
        &__center {
            flex: 0 1 60%;
            margin-right: 0;
        }
        &__right {
            display: none;
        }
        &__btn{
            padding-left: 40px;
            padding-right: 37px;
            transform: translate(2px, 1px);
        }
    }
}
@media (max-width: 768px) {
    .header{
        margin-top: -2px;
        margin-bottom: 39px;
        &__left-part{
            flex: 1 1 40%;
            transform: translateY(1px);
        }
        &__logo {
            margin-top: 18px;
            margin-bottom: 5px;
            transform: translate(-3px, -4px);
        }
        &__icon-search{
            transform: translateY(2px);
        }
    }
    .section-hero {
        margin-bottom: 36px;
        &__body {
            padding: 160px 40px 16px;
            background: url(/img/media-768/hero-slider1.jpg) no-repeat center center;
            background-size: cover;
            min-height: 662px !important;
            transform: translateY(1px);
            border-radius: 22px;
        }
        &__heading {
            font-size: 50px;
            line-height: 61px;
        }
        &__description {
            max-width: 590px;
            font-size: 18px;
            line-height: 22px;
        }
        &__nav {
        }
        &__swicth {
        }
    }
    .section-about {
        margin-bottom: 80px;
        &__top {
            padding-bottom: 51px;
        } 
        &__left {
            min-height: 652px;
            transform: translateY(0);
            border-radius: 24px;
        }
        &__inside-part {
            padding: 16px 40px;
            border-radius: 24px;
        }
        &__description {
            padding-bottom: 0;
            max-width: 366px;
            transform: translateY(-16px);
        }
        &__btn {
            transform: translateY(-4px);
        }
        &__block {
            padding: 24px 6px 28px 40px;
            min-height: 236px !important;
            justify-content:unset;
            border-radius: 22px;
        }
        &__img {
            margin-left: 0;
            max-width: 114px;
            margin-right: 12px;
            flex: 1 1 30%;
        }
        &__info {
            flex: 1 1 70%;
            max-width: 452px;
            margin-left: 0;
            transform: translateX(0);
        }
        &__small-heading{
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }
        &__text{
            padding-right: 0;
            &_additional{
                padding-top: 8px;
                font-size: 16px;
                line-height: 32px;
            }    
        }
    }
    .section-working {
        margin-bottom: 48px;
        br {
            display: none;
        }
        &__list {
            padding-bottom: 50px;
            max-width: 100%;
            justify-content: space-between !important;
        }
        &__text{
            padding-bottom: 2px;
        }
        &__btn {
            margin-top: 25px;
        }
        &__bottom {
            flex-direction: column-reverse;
        }    
        &__right {
            margin-top: 0;
            margin-bottom: 34px;
            min-height: 286px;
            max-width: 668px;

            background: url('../../img/media-768/working-step1.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 24px;
        }
        &__item {
            flex: 1 1 25% !important;
            transform: translateX(0) !important;
            max-width: 53px;
            &_first {
                transform: translateX(0);
            }
        }
    }
    .section-faq {
        margin-bottom: 114px;
        &__expand {
            flex: 0 0 7%;
            &_third {
                transform: translateY(-6px);
            }
            &_fifth {
                transform: translateY(-4px);
            }
        }
    }
    .footer {
        &__container{
            flex-direction: column-reverse;
            transform: translateX(-10px);
        }
        &__list {
            display: none;
        }
        &__form {
            min-width: 0;
            width: 81%;
        }
        &__bottom {
            margin-bottom: 50px;
        }
        &__btn {
            transform: translateX(-1px);
            margin-bottom: 48px;
        }
        &__left {
            transform: translateX(10px);
        }
    }
}
@media (max-width: 500px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .heading {
        font-size: 24px;
        line-height: 29px;
    }
    .text {
        font-size: 14px;
        line-height: 28px;
    }
    .header {
        margin-bottom: 30px;
        border-radius: 18px;
        &__left-part{
            flex: 1 1 66.6%;
            transform: translateY(0x);
        }
        &__logo {
            margin: 23px 0 13px;
            max-width: 110px;
            max-height: 35px;
            transform: translate(-10px, -4px);
        }
        &__right-part {
            flex: 1 1 33.3%;
            transform: translateY(0px);
        }
    }
    .section-hero {
        margin-bottom: 60px;
        &__body {
            max-height: auto;
            min-height: 310px;
            min-height: 100% !important;
            transform: translateY(0px);

            padding: 60px 21px 15px 22px;
            display: flex;
            flex-direction: column;
            align-items: center;

            background: url(/img/media-320/hero-slider1.jpg) no-repeat center center;
            background-size: cover;

            border-radius: 14px;
        }
        &__heading {
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
        &__description {
            padding: 8px 0 32px;
            max-width: 247px;

            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
        }
        &__btn {
            padding: 13px 28px;

            font-size: 12px;
            line-height: 15px;

            border-radius: 8px;
        }
        &__nav {
            padding-top: 34px;
        }
        &__swicth{
            max-width: 10px;
            max-height: 10px;
        }
    }
    .section-about {
        margin-bottom: 61px;
        br {
            display: none;
        }
        &__top {
            padding: 0 0 14px;
        }
        &__heading{
            padding-bottom: 20px;
        }
        &__text {
            padding-right: 0;

            font-weight: 300;
            font-size: 14px;
            line-height: 28px;
            &_desktop {
                display: none;
            }
            &_mobile {
                display: block;
            }
        }
        &__left {
            margin-bottom: 8px;
            min-height: 200px;

            border-radius: 16px;
        }
        &__inside-part {
            display: none;
        }
        &__mobile-block{
            display: block;
            padding-top: 16px;
        }
        &__description {
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            color: #000000;
        }
        &__btn {
            margin-bottom: 27px;
            padding: 10px 42px;

            font-size: 12px;
            line-height: 15px;

            color: $orangeColor1;
            border-width: 2px;
            border-radius: 8px;
        }
        &__right {
            padding: 0;
        }
        &__block {
            margin: 0;
            padding: 0;
            justify-content: flex-start;
            align-items: center;
            border: none;
        }
        &__img {
            margin-left: -3px;
            max-width: 68px;
            margin-right: 40px;
        }
        &__info {
            margin: 0;
        }
        &__small-heading {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
    }
    .section-working {
        margin-bottom: 45px;
        &__list {
            padding: 20px 0 18px ;
        }
        &__item {
            max-width: 42px;
        }
        &__link {
            font-size: 14px;
            line-height: 17px;
        }
        &__right {
            margin-bottom: 13px;
            min-height: 160px;

            background: url('../../img/media-320/working-step1.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 14px;
        }
        &__small-heading {
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
        }
        &__text{
            padding: 8px 0 28px;
            &_desktop{
                display: none;
            }
            &_mobile {
                display: block;
            }
        }
        &__control-buttons{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__btn {
            margin: 0;
            margin-bottom: 10px;
            padding: 13px 44px;

            font-size: 12px;
            line-height: 15px;
            border-radius: 8px;
            
            &_additional {
                font-size: 12px;
                padding: 10px 31px 9px 32px;
                transform: translate(0px, -3px);
            }
        }
    }
    .section-faq {
        margin-bottom: 60px;
        br {
            display: block;
        }
        &__heading {
            padding-bottom: 16px;
        }
        &__small-heading {
            flex: 0 0 85%;

            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.05px;
        }
        &__expand {
            flex: 0 0 15%;
            min-width: 30px;
            width: 30px;
            height: 30px;
            transform: translateX(10px);
        }
    }
    .footer {
        &__container {
            margin-top: 0;
            padding: 32px 14px 0;
        }
        &__center {
            padding-bottom: 16px;
            border-bottom: 1px solid $grayColor5;
        }
        &__header {
            padding-bottom: 22px;
        }
        &__form {
            width: 100%;
            min-width: none;
            margin-right: 0;
        }
        &__input {
            min-width: auto;
            &_big{
                margin-bottom: 24px;
            }
            &::placeholder {
                padding-left: 14px;
                font-size: 14px;
            }
        }
        &__btn {
            margin-bottom: 0;
            padding: 10px 27px;

            font-size: 12px;
            border-radius: 8px;
        }
        &__left {
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            padding: 16px 0 6px;
            width: 131px;
        }
        &__soc-log {
            margin-right: 10px;
            width: 40px;
            &_vk {
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 320px) {
    .header {
        &__logo {
            transform: translate(10px, -4px);
        }
    }
}